body {
    background-color:yellow;
}
.home h2{
    text-align:center;
}
table {
    border-collapse: separate;
    border-spacing: 2 15px;
  }
  .form1 h2{
    text-align:center;
  }
  form { 
    margin: 0 auto; 
    width:250px;
    }